.btn-xlarge{
  box-shadow: 0 3px 0 0 #449D44;
  width:100px;
  height:80px;
  margin-left:20px;
}

.quit{
  box-shadow:0 3px 0 0 #333333;
  background-color:#e6e6e6;
  color:#333333;
  font-weight:bold;
  width:180px;
}

.quit:hover, .quit:focus, .quit:active, .quit.active, .open > .dropdown-toggle.quit {
  background: #999999;
}

/* Hiding default checkbox and Radio button design */
.custom-radio {
  opacity: 0;
  position: absolute;
  z-index: 12;
  width: 18px;
  height: 18px;
}

/* Disable outline when clicked*/
.custom-radio:checked,.custom-radio:focus {
  outline: none !important;
}

.custom-radio+.lbl {
  position: relative;
  z-index: 11;
  display: inline-block;
  margin: 0;
  line-height: 20px;
  min-height: 14px;
  min-width: 14px;
  font-weight: normal;
}

.custom-radio+.lbl.padding-16::before {
      margin-right: 16px;
}

.custom-radio+.lbl.padding-12::before {
      margin-right: 12px;
}

.custom-radio+.lbl.padding-8::before {
      margin-right: 8px;
}

.custom-radio+.lbl.padding-4::before {
      margin-right: 4px;
}

.custom-radio+.lbl.padding-0::before {
      margin-right: 0px;
}

.custom-radio+.lbl::before {
      font-family: fontAwesome;
      font-weight: normal;
      font-size: 11px;
      color: #337ab7;
      content: "\a0";
      background-color: #FAFAFA;
      border: 1px solid #CCC;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
      border-radius: 0;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      height: 13px;
      line-height: 13px;
      min-width: 13px;
      margin-right: 1px;
      margin-top: -5px;
}

.custom-radio:checked+.lbl::before {
      display: inline-block;
      content: '\f00c';
      background-color: #F5F8FC;
      border-color: #adb8c0;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}

.custom-radio:hover+.lbl::before,
.custom-radio+.lbl:hover::before {
      border-color: #1c7aad;
}

.custom-radio:active+.lbl::before,
.custom-radio:checked:active+.lbl::before {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.custom-radio:disabled+.lbl::before,
.custom-radio[disabled]+.lbl::before,
.custom-radio.disabled+.lbl::before {
      background-color: #DDD !important;
      border-color: #CCC !important;
      box-shadow: none !important;
      color: #BBB;
}

.custom-radio+.lbl::before {
      border-radius: 3px;
      font-family: Arial, Helvetica, sans-serif;
      width: 20px;
      height: 20px;
      line-height: 17px;
      font-size: 36px;
}

.custom-radio:checked+.lbl::before {
      content: "\2022";
}
